<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trabalhos de Redes de Computadores</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <header>
        <h1>Trabalhos de Redes de Computadores</h1>
        <p><strong>Alunos:</strong> Antônio Sérgio Tolio, Guilherme Garcia, Lucas Caetano, Virgínia Colares e Vitória Luiza Camara</p>
    </header>

    <div class="tab">
        <button class="tablinks" onclick="openTab(event, 'trabalho1')">Trabalho 1</button>
        <button class="tablinks" onclick="openTab(event, 'trabalho2')">Trabalho 2</button>
        <button class="tablinks" onclick="openTab(event, 'trabalho3')">Trabalho 3</button>
        <button class="tablinks" onclick="openTab(event, 'trabalho4')">Trabalho 4</button>
        <button class="tablinks" onclick="openTab(event, 'trabalho5')">Trabalho 5</button>
        <button class="tablinks" onclick="openTab(event, 'trabalho6')">Trabalho 6</button>
        <button class="tablinks" onclick="openTab(event, 'trabalho7')">Trabalho 7</button>
        <button class="tablinks" onclick="openTab(event, 'trabalho8')">Trabalho 8</button>
    </div>

    <div id="trabalho1" class="tabcontent">
        <object type="text/html" data="./trabalho1/trabalho1.html"></object>
    </div>

    <div id="trabalho2" class="tabcontent">
        <object type="text/html" data="./trabalho2/trabalho2.html"></object>
    </div>

    <div id="trabalho3" class="tabcontent">
        <object type="text/html" data="./trabalho3/trabalho3.html"></object>
    </div>

    <div id="trabalho4" class="tabcontent">
        <object type="text/html" data="./trabalho4/trabalho4.html"></object>
    </div>

    <div id="trabalho5" class="tabcontent">
        <object type="text/html" data="trabalho5.html"></object>
    </div>
    <div id="trabalho6" class="tabcontent">
        <object type="text/html" data="./trabalho6/trabalho6.html"></object>
    </div>
    <div id="trabalho7" class="tabcontent">
        <object type="text/html" data="./trabalho7/trabalho7.html"></object>
    </div>
    <div id="trabalho8" class="tabcontent">
        <object type="text/html" data="./trabalho8/trabalho8.html"></object>
    </div>

    <script src="index.js"></script>
</body>
</html>
