<!DOCTYPE html>
<html>
<head>
    <title>ARP Data</title>
</head>
<body>
    <h1>Dados de tráfego Protocolo ARP</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Timestamp</th>
                <th>Source IP</th>
                <th>Destination IP</th>
                <th>Source MAC</th>
                <th>Destination MAC</th>
                <th>Operation</th>
            </tr>
        </thead>
        <tbody id="arp-table-body">
        </tbody>
    </table>
    <script>
        async function fetchARPData() {
            try {
                const response = await fetch('http://localhost:3001/trabalho2');  // Endpoint correto
                const data = await response.json();
                console.log(data);
                const tableBody = document.getElementById('arp-table-body');
                
                data.forEach(item => {
                    const row = document.createElement('tr');
                    
                    Object.values(item).forEach(value => {
                        const cell = document.createElement('td');
                        cell.textContent = value.toString();  // Convertendo para string, se necessário
                        row.appendChild(cell);
                    });
                    
                    tableBody.appendChild(row);
                });
            } catch (error) {
                console.error('Erro ao buscar dados ARP:', error);
            }
        }
        fetchARPData();
    </script>   
</body>
</html>
