<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quantidade de pacotes por porta</title>

    <script src="
        https://cdn.jsdelivr.net/npm/echarts@5.5.0/dist/echarts.min.js
        "></script>
</head>

<body>

    <div id="main" style="width: 700px;height:500px;"></div>

    <script type="text/javascript">
        let data;
        // Função que faz a requisição fetch para o servidor
        async function getAnalise() {
            url = "http://localhost:3001/grupo1/trabalho1"
            const response = await fetch(url);
            data = await response.json();
        }

        // Função principal, precisa dela para esperar a função getAnalise terminar
        async function main() {
            await getAnalise();
            // Transforma data.Portas em um array de objetos
            let portas = Object.keys(data.Portas).map((porta) => {
                return {
                    name: porta,
                    value: data.Portas[porta]
                }
            });

            // Pega o elemento HTML onde o gráfico será exibido
            var graficoPacotesPorIP = echarts.init(document.getElementById('main'));

            var option = {
                title: {
                    text: 'Quantidade de pacotes por portas',
                },
                tooltip: {
                    trigger: 'item'
                },
                legend: {
                    orient: 'vertical',
                    left: 'right'
                },
                series: [
                    {
                        name: 'Pacotes por porta',
                        type: 'pie',
                        radius: '50%',
                        data: portas,
                        emphasis: {
                            itemStyle: {
                                shadowBlur: 10,
                                shadowOffsetX: 0,
                                shadowColor: 'rgba(0, 0, 0, 0.5)'
                            }
                        }
                    }
                ]
            };

            // Mostra o gráfico e seta as opções
            graficoPacotesPorIP.setOption(option);
        }
        main();
    </script>
</body>

</html>