<!DOCTYPE html>
<html>
<head>
    <title>Trabalho 7</title>
    <script src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script>
    <script src="trabalho7.js"></script>
    <style>
        body {
            font-family: Arial, sans-serif;
        }
        .chart-container {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }
        .form-container {
            margin-bottom: 20px;
        }
        #trafficChart {
            width: 95%;
            height: 400px;
        }
        #serviceList {
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <h1>Dados de tráfego - Protocolo DNS</h1>
    <div class="analise">
        <div class="form-container">
            <label for="numRecords">Informe o número de registros a analisar:</label>
            <label for="">Max.:</label>
            <input type="number" id="numRecords" value="10">
            <button onclick="fetchData()">Analisar</button>
        </div>
       
        <div>
            <h4>Gráficos de Tráfego DNS</h4>
            <!--<div id="trafficChart" style="width: 95%; height: 400px;"></div>-->
            <div id="packetSizeChart" style="width: 95%; height: 400px;"></div>
            <div id="requestDistributionChart" style="width: 95%; height: 400px;"></div>
        </div>
        <div id="analysisSection"></div>
    </div>
</body>
</html>
