<!DOCTYPE html>
<html>

<head>
  <style>
    body {
      font-family: Arial, sans-serif;
    }
  </style>
  <title>Trabalho 4 - Dados de Tráfego UDP</title>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      fetch('http://localhost:3001/trabalho4') // Rota da sua aplicação FastAPI
        .then(response => response.json())
        .then(data => {
          const tbody = document.getElementById("udp-packets-table-body");
          data.udp_packets.forEach(packet => {
            const row = document.createElement("tr");
            row.innerHTML = `
                            <td>${new Date(packet.timestamp * 1000).toLocaleString()}</td>
                            <td>${packet.source}</td>
                            <td>${packet.destination}</td>
                            <td>${packet.length}</td>
                            <td>${packet.data}</td>
                        `;
            tbody.appendChild(row);
          });
        })
        .catch(error => console.error('Erro ao buscar dados:', error));
    });
  </script>
</head>

<body>
  <h1>Dados de Tráfego - Protocolo UDP</h1>
  <h2>Pacotes UDP</h2>
  <table border="1">
    <thead>
      <tr>
        <th>Timestamp</th>
        <th>Source</th>
        <th>Destination</th>
        <th>Length</th>
        <th>Data</th>
      </tr>
    </thead>
    <tbody id="udp-packets-table-body">
      <!-- Aqui serão inseridas as linhas da tabela -->
    </tbody>
  </table>
</body>

</html>