<!DOCTYPE html>
<html>
<head>
    <title>Hub Principal</title>
</head>
<body>
    <h1>Hub Principal</h1>
    <ul>
        <li><a href="/ipv4">Visualização IPv4</a></li>
        <li><a href="/arp">Visualização ARP</a></li>
        <li><a href="/rip">Visualização RIP</a></li>
        <li><a href="/udp">Visualização UDP</a></li>
        <li><a href="/tcp">Visualização TCP</a></li>
        <li><a href="/http">Visualização HTTP</a></li>
        <li><a href="/dns">Visualização DNS</a></li>
        <li><a href="/snmp">Visualização SNMP</a></li>
    </ul>
</body>
</html>
