<!DOCTYPE html>
<html>
<head>
    <title>Trabalho 1</title>
    <script src="https://cdn.jsdelivr.net/npm/echarts@5.2.2/dist/echarts.min.js"></script>
    <script src="trabalho1.js"></script>
    <style>
        body {
            font-family: Arial, sans-serif;
        }
    </style>
</head>
<body>
    <h1>Dados de tráfego - Protocolo IPv4</h1>
    <h3>Este gráfico permite utilizar os protocolos utilizados no tráfego</h3>
    <div id="protocol-chart" style="width: 650px; height: 400px;"></div>
    <h3>Este gráfico permite os IPs mais chamados no tráfego</h3>
    <div id="ip-chart" style="width: 1000px; height: 400px;"></div>
    
</body>
</html>
