"
<div class=\"flexbox\">
    <div class=\"tupla\">
        <div class=\"VER tooltip-container\">0100
            <span class=\"tooltip-text\">Versão</span>
        </div>
        <div class=\"IHL tooltip-container\"> <span class=\"tooltip-text\">Header Length</span></div>
        <div class=\"TOS tooltip-container\"> <span class=\"tooltip-text\">Type of Service</span></div>
        <div class=\"LEN tooltip-container\"> <span class=\"tooltip-text\">Length</span></div>
    </div>
    <div class=\"tupla\">
        <div class=\"ID tooltip-container\"> <span class=\"tooltip-text\">Fragmentation ID</span></div>
        <div class=\"EVIL tooltip-container\"> <span class=\"tooltip-text\">EVIL BIT</span></div>
        <div class=\"DF tooltip-container\"> <span class=\"tooltip-text\">FLAG1</span></div>
        <div class=\"MF tooltip-container\"> <span class=\"tooltip-text\">FLAG2</span></div>
        <div class=\"OFFSET tooltip-container\"> <span class=\"tooltip-text\">Offset</span></div>
    </div>

    <div class=\"tupla\">
        <div class=\"TTL tooltip-container\"><span class=\"tooltip-text\">Time to Live</span></div>
        <div class=\"PROTOCOL tooltip-container\"><span class=\"tooltip-text\">Protocol</span></div>
        <div class=\"CHECKSUM tooltip-container\"><span class=\"tooltip-text\">Checksum</span> </div>
    </div>
    <div class=\"tupla\">
        <div class=\"SOURCE tooltip-container\"><span class=\"tooltip-text\">Endereço de Origem</span> </div>
    </div>
    <div class=\"tupla\">
        <div class=\"DESTINATION tooltip-container\"><span class=\"tooltip-text\">Endereço de Destino</span> </div>
    </div>
</div>
"