<!DOCTYPE html>
<html>
<head>
    <title>Trabalho 2</title>
    <script src="trabalho2.js"></script>

</head>
<body>
    <h1>Dados de tráfego - Protocolo ARP</h1>
    <h2>ARP Requests</h2>
    <table border="1">
        <thead>
            <tr>
                <th>Timestamp</th>
                <th>Source IP</th>
                <th>Destination IP</th>
                <th>Source MAC</th>
                <th>Destination MAC</th>
                <th>Operation</th>
            </tr>
        </thead>
        <tbody id="arp-requests-table-body">
        </tbody>
    </table>

    <h2>ARP Replies</h2>
    <table border="1">
        <thead>
            <tr>
                <th>Timestamp</th>
                <th>Source IP</th>
                <th>Destination IP</th>
                <th>Source MAC</th>
                <th>Destination MAC</th>
                <th>Operation</th>
            </tr>
        </thead>
        <tbody id="arp-replies-table-body">
        </tbody>
    </table>
</body>
</html>
