<!DOCTYPE html>
<html>
<head>
    <title>Trabalho 3</title>
    <script src="trabalho3.js"></script>
</head>
<body>
    <h1>Dados de tráfego - Protocolo RIP</h1>
    <h2>RIP Packets</h2>
    <table border="1">
        <thead>
        <tr>
            <th>Timestamp</th>
            <th>Source IP</th>
            <th>Destination IP</th>
            <th>Protocol</th>
            <th>Length</th>
            <th>Info</th>
        </tr>
        </thead>
        <tbody id="rip-packets-table-body">
        </tbody>
    </table>
</body>
</html>